<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DownloadCosmosDataAad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
      <section name="cosmosSetup" type="DownloadCosmosDataAad.cosmosSetupSection, DownloadCosmosDataAad"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <DownloadCosmosDataAad.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=10.159.85.68;;Initial Catalog=master;Integrated Security=True</value>
            </setting>
            <setting name="logPath" serializeAs="String">
                <value>C:\\temp\\</value>
            </setting>
            <setting name="Profile" serializeAs="String">
                <value>DsaOps</value>
            </setting>
            <setting name="Recipients" serializeAs="String">
                <value>jbarash@meritdirect.com</value>
            </setting>
        </DownloadCosmosDataAad.Properties.Settings>
    </userSettings>
  <cosmosSetup>
    <cosmos>
      <add name="Lightbox" VC="https://cosmos15.osdinfra.net/cosmos/dsa.email.segmentation" script="" filePrefix="^Lightbox_" streamPath="https://cosmos15.osdinfra.net/cosmos/dsa.email.segmentation/local/users/MeritDirect/Lightbox/" downloadDirectory="C:\\temp\\OneStore\\Download\\" klondike="0" excludeHeader="1" recurseDir="0" updateFile="" incr="1000"></add>
      <add name="OneStore_Order" VC="https://cosmos15.osdinfra.net/cosmos/dsa.email.segmentation" script="" filePrefix="OneStore_Order_" streamPath="https://cosmos15.osdinfra.net/cosmos/dsa.email.segmentation/local/users/MeritDirect/OneStore/" downloadDirectory="C:\\temp\\OneStore\\Download\\" klondike="0" excludeHeader="0" recurseDir="0" updateFile="" incr="50000"></add>
      <add name="OneStore_Return" VC="https://cosmos15.osdinfra.net/cosmos/dsa.email.segmentation" script="" filePrefix="OneStore_Return_" streamPath="https://cosmos15.osdinfra.net/cosmos/dsa.email.segmentation/local/users/MeritDirect/OneStore/" downloadDirectory="C:\\temp\\OneStore\\Download\\" klondike="0" excludeHeader="0" recurseDir="0" updateFile="" incr="50000"></add>
      <add name="OneStore_Visit" VC="https://cosmos15.osdinfra.net/cosmos/dsa.email.segmentation" script="" filePrefix="OneStore_Visit_" streamPath="https://cosmos15.osdinfra.net/cosmos/dsa.email.segmentation/local/users/MeritDirect/OneStore/" downloadDirectory="C:\\temp\\OneStore\\Download\\" klondike="0" excludeHeader="0" recurseDir="0" updateFile="" incr="50000"></add>
      <add name="Product_BigId" VC="https://cosmos15.osdinfra.net/cosmos/dsa.email.segmentation" script="" filePrefix="Product_BigId_" streamPath="https://cosmos15.osdinfra.net/cosmos/dsa.email.segmentation/local/users/MeritDirect/Product/" downloadDirectory="C:\\temp\\OneStore\\Download\\" klondike="0" excludeHeader="1" recurseDir="0" updateFile="" incr="50000"></add>
      <add name="Product_Sku" VC="https://cosmos15.osdinfra.net/cosmos/dsa.email.segmentation" script="" filePrefix="Product_Sku_" streamPath="https://cosmos15.osdinfra.net/cosmos/dsa.email.segmentation/local/users/MeritDirect/Product/" downloadDirectory="C:\\temp\\OneStore\\Download\\" klondike="0" excludeHeader="1" recurseDir="0" updateFile="" incr="50000"></add>
      <add name="Product_SmallId" VC="https://cosmos15.osdinfra.net/cosmos/dsa.email.segmentation" script="" filePrefix="Product_SmallId_" streamPath="https://cosmos15.osdinfra.net/cosmos/dsa.email.segmentation/local/users/MeritDirect/Product/" downloadDirectory="C:\\temp\\OneStore\\Download\\" klondike="0" excludeHeader="1" recurseDir="0" updateFile="" incr="50000"></add>
      <add name="Klondike" VC="https://cosmos15.osdinfra.net/cosmos/dsa.email.segmentation" script="" filePrefix="Retail_" streamPath="https://cosmos15.osdinfra.net:443/cosmos/dsa.email.segmentation/shares/MicrosoftStores.prod/Klondike-BnMStreams/NRT/V1.0/" downloadDirectory="C:\\temp\\OneStore\\Download\\" klondike="1" excludeHeader="1" recurseDir="0" updateFile="" incr="50000"></add>
    </cosmos>
  </cosmosSetup>
</configuration>